<h1>Click a Song To View Content</h1>
<%= link_to 'Add Song Title', new_artist_song_path(@artist) %>
<ul>
  <% @songs.each do |song| %>
    <li><%= link_to song.song_name, [@artist, song] %></li>
  <% end %>
</ul>